.sideBarContainer {
    height: 100%;
    width: 20%;
    min-width: 240px;
    max-width: 250px;
    background-color: var(--white);
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.16);
    padding: 10px 25px;
}

.companyGrp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 10px;
}
.companyName {
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0;
}
.companyName2 {
    font-size: .7rem;
    font-weight: 600;
    color: var(--primary);
    margin-bottom: 0;
}

.sideBarItems {
    display: flex;
    flex-direction: column;
    margin-top: 30px !important;
}

.sideBarItem {
    text-decoration: none !important;
    color: var(--placeholderText) !important;
}

.sideBarItem:active, .sideBarItem:hover, .active {
    color: var(--primary) !important;
    background-color: #d9e1e9 !important;
}

.iconActive {
    color: var(--primary) !important;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: var(--placeholderText);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

/* over ride */
.css-10hburv-MuiTypography-root {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
}
.css-cveggr-MuiListItemIcon-root {
    min-width: 35px !important;
}
.css-10hburv-MuiTypography-root {
    font-weight: 600 !important;
}

.list-item-style {
    font-weight: bold !important;
}